{% load render_tag %}

<div class="my-4" id="post" tags="{% for tag in post.tags.all %}{{ tag }}, {% endfor %}">
    <a href="{% url 'post:detail' post.id %}">
        <h2>{{ post.title }}</h2>
    </a>
    <p class="font-weight-light"> Verfasst von <a href="{% url 'user:profile' post.author %}">
        {{ post.author }}
        </a> unter {% for tag in post.tags.all %} {% render_tag tag %} {% endfor %}
    <p class="font-weight-light"> Veröffentlicht: {{ post.publish_date }} Bearbeitet: {{ post.modified }} </p>

    <p>{{ post.exposee }}</p>
</div>
