{% load static %}
{% load render_tag %}
{% include "base/header.html"%}

<link href={% static 'post/css/post_detail.css' %} rel="stylesheet" />
{% if post.image %}
    <img src="{{ post.image.url }}" class="full-width-image" /> 
{% endif %}

<h2>{{ post.title }}</h2>

<p class="font-weight-light"> Verfasst von <a href="{% url 'user:profile' post.author %}">
    {{ post.author }}
    </a> unter {% for tag in post.tags.all %} {% render_tag tag %} {% endfor %}
<p class="font-weight-light"> Veröffentlicht: {{ post.publish_date }} Bearbeitet: {{ post.modified }} </p>

<p>
    {{ post.text|safe }}
</p>

{% include 'base/footer.html' %}