asgiref==3.2.10
beautifulsoup4==4.9.1
Django==3.1.1
django-livereload-server==0.3.2
django-sass==1.0.0
libsass==0.20.1
pytz==2020.1
rjsmin==1.1.0
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
tornado==6.0.4
