{% include "base/header.html" %}

<link href="static/page/css/style.css" rel="stylesheet" />

    {% for post in post_list %}
        <h2>{{ post.title }}</h2>
        <p>{{ post.exposee }}</p>
        <p> Published: {{ post.publish_date }} </p>
        <p> Last Edited: {{ post.modified }} </p>
        <a href="{% url 'post:detail' post.id %}">
            Detailansicht
        </a> </br>
        <a href="{% url 'user:profile' post.author %}">
            {{ post.author }}
        </a>
    {% endfor %}

{% include "base/footer.html" %}