{% load render_post %}
{% load static %}
{% include "base/header.html" %}

{% comment %} Load css for this html file {% endcomment %}
<link href="{% static 'page/css/style.css' %}" rel="stylesheet" />

{% comment %} Load css for the shown Posts {% endcomment %}
<link href="{% static 'post/css/post_export.css' %}" rel="stylesheet" />

<div class="row">
    <div class="col-lg-8">
        {% comment %} Load all the posts {% endcomment %}
        {% for post in posts %}
            {% render_post post %}
        {% endfor %}
    </div>
    <div class="col-md-4" style="background-color: lightblue">
    </div>
</div>

{% include "base/footer.html" %}